/.*/*
*.conf*
*.uuid
*.spotify-token-cache
*.log
*.db
*.yaml.o
secrets.yaml
ip_bans.yaml
known_devices.yaml
config.json
aircast.xml
airsonos.xml
AccessoryInfo.*.json
IdentifierCache.*.json
.ring_cache*
home-assistant_v2.db-*
queen_bus.*
tts/*.mp3
.xbox-token.json
.ring_cache.pickle
google_calendars.yaml
.google.token
google_calendars.yaml